<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet" />
<header>
  <div class="container">
    <a routerLink="/" class="logo">One Shop <i class="fas fa-home"></i></a>
    &nbsp;&nbsp;
    <a routerLink="/store/women" class="logo">
      Women <i class="fas fa-female"></i></a>
    &nbsp;&nbsp;
    <a routerLink="/store/men" class="logo"> Men <i class="fas fa-male"></i></a>

    <nav>
      <ul>
        <li [hidden]="token">
          <a href="#" routerLink="/login">
        <li class="fas fa-user-alt"></li>
        </a>
        </li>
        <li [hidden]="!token" (click)="logout()">
          <a href="#" routerLink="/login">
            <i class="fas fa-sign-out-alt"></i>
          </a>
        </li>



        <!-- <ng-template #elseBlock>Content to render when value is null.</ng-template> -->


        <li>
          <a href="#" routerLink="/cart">
            <i class="fas fa-cart-arrow-down"></i>
          </a>
          <a (click)="tokenValidator()"></a>
        </li>
      </ul>
    </nav>
  </div>
</header>