<div class="container-fluid">
  <h1>Check out all our {{ this.href[1] }}</h1>
  <div class="row" style="justify-content: center;"  >
    <div class="card m-3" style="width: 18rem;" *ngFor="let item of lists" style="justify-content: center;" >
      <img src="{{ item.image }}" class="card-img-top m-1" alt="..." style="width: 200px;height: 200px;">
      <div class="card-body">
        <h5 class="card-title">{{item.title }}</h5>
        <p class="card-text">Price :{{ item.price }}$</p>
        <a  color="primary" class="btn btn-primary" (click)="moreInfo(item._id)"
        routerLink="/store/{{ this.href[0] }}/{{ this.href[1] }}/productDetails">More info
      </a>
      </div>
    </div>
  </div>
</div>
