<!-- <mdb-card
  style="width: 20rem"
  *ngFor="let item of order"
  [hidden]="show"
  class="container"
>
  <mdb-card-body>
    <mdb-card-title>
      <h5 class="font-weight-bold mb-3">{{ item.status }}</h5>
    </mdb-card-title>
    <mdb-card-text class="mb-0"
      >{{ item.delivery_info.city }},
      {{ item.delivery_info.country }}</mdb-card-text
    >
    <mdb-card-text class="mb-0"
      >Method : {{ item.payment_method }}</mdb-card-text
    >
    <mdb-card-text class="mb-0"
      >Items : {{ item.products.length }}</mdb-card-text
    >
    <mdb-card-text class="mb-0"
      >Price : {{ item.total_order_price }} $</mdb-card-text
    >
  </mdb-card-body>
  <hr />
  <ul class="list-group list-group-flush" *ngFor="let product of item.products">
    <li class="list-group-item">
      {{ product.product.title }} {{ product.product.price }} $
    </li>
  </ul>
  <mdb-card-body>
    <button mdbBtn type="button" color="success" mdbWavesEffect>Confirm</button>
    <button mdbBtn type="button" color="danger" mdbWavesEffect>Cancel</button>
  </mdb-card-body>
</mdb-card> -->
