<!-- <mdb-card
  [ngStyle]="
    item.status === 'pending'
      ? '#ffbb33'
      : item.status === 'Done'
      ? '#00C851'
      : '#CC0000'
  "
  style="width: 20rem"
  *ngFor="let item of order"
  [hidden]="show"
  class="container"
>
  <mdb-card-body>
    <mdb-card-title>
      <h5 class="font-weight-bold mb-3">{{ item.status }}</h5>
    </mdb-card-title>
    <mdb-card-text class="mb-0"
      >{{ item.delivery_info.city }},
      {{ item.delivery_info.country }}</mdb-card-text
    >
    <mdb-card-text class="mb-0"
      >Method : {{ item.payment_method }}</mdb-card-text
    >
    <mdb-card-text class="mb-0"
      >Items : {{ item.products.length }}</mdb-card-text
    >
    <mdb-card-text class="mb-0"
      >Price : {{ item.total_order_price }} $</mdb-card-text
    >
  </mdb-card-body>
  <hr />
  <ul class="list-group list-group-flush" *ngFor="let product of item.products">
    <li class="list-group-item">
      {{ product.product.title }} {{ product.product.price }} $
    </li>
  </ul>
  <mdb-card-body>
    <button
      mdbBtn
      type="button"
      (click)="confirm(item._id)"
      color="success"
      mdbWavesEffect
    >
      Confirm
    </button>
    <button
      mdbBtn
      type="button"
      (click)="cancel(item._id)"
      color="danger"
      mdbWavesEffect
    >
      Cancel
    </button>
  </mdb-card-body>
</mdb-card> -->

<div
  [ngClass]="
    item.status === 'Pending'
      ? 'card text-white bg-warning mb-3 container'
      : item.status === 'Done'
      ? 'card text-white bg-success mb-3 container'
      : 'card text-white bg-danger mb-3 container'
  "
  style="max-width: 18rem;"
  *ngFor="let item of order"
>
  <div class="card-header">{{ item.status }}</div>
  <div class="card-body">
    <h5 class="card-title">
      {{ item.delivery_info.city }}, {{ item.delivery_info.country }}
    </h5>
    <p class="card-text">Method : {{ item.payment_method }}</p>
    <p class="card-text">Items : {{ item.products.length }}</p>
    <p class="card-text">Price : {{ item.total_order_price }} $</p>
  </div>
  <button
    mdbBtn
    type="button"
    (click)="confirm(item._id)"
    color="success"
    mdbWavesEffect
  >
    Confirm
  </button>
  <button
    mdbBtn
    type="button"
    (click)="cancel(item._id)"
    color="danger"
    mdbWavesEffect
  >
    Cancel
  </button>
</div>
