<!-- <div >
  <div class="list-group-flush">
    <div class="list-group-item">
      <p class="mb-0">
        <img src="{{ item.image }}" aria-hidden="true" />
      </p>
    </div>
  </div>
</div> -->
<!-- <div class="containet">
  <div class="card card-cascade narrower coo" *ngFor="let item of allProducts"> -->
<!-- Card image -->
<!-- <div class="view view-cascade overlay">
      <img class="card-img-top" src="{{ item.image }}" alt="Card image cap" />
    </div> -->

<!-- Card content -->
<!-- <div class="card-body card-body-cascade"> -->
<!-- Title -->
<!-- <h4 class="font-weight-bold card-title">{{ item.name }}</h4> -->
<!-- Text -->

<!-- Button -->
<!-- <a class="btn btn-unique">Button</a>
    </div>
  </div>
</div> -->

<div class="container" *ngFor="let item of allProducts">
  <div class="card" style="width: 20rem;">
    <div class="card-body">
      <img class="card-img-top" src="{{ item.image }}" />
      <h5 class="font-weight-bold mb-3">{{ item.title }}</h5>
      <p class="mb-0">
        {{ item.description }}
      </p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{ item.category }}</li>
      <li class="list-group-item">{{ item.brand }}</li>
      <li class="list-group-item">{{ item.tag }}</li>
    </ul>
    <div class="card-body">
      <a class="card-link">Update</a>
      <a class="card-link" (click)="delete(item._id)">Delete</a>
    </div>
  </div>
</div>
