<!-- <form id="f1" [formGroup]="form" (ngSubmit)="submitForm()">
    <h2>Billing</h2>
    <h4>phone number</h4>
    <input class="d2" type="text" formControlName="phone">
    <h4>adress</h4>
    <input class="d2" type="text" formControlName="adress">
    <h4>adress 2</h4>
    <input class="d2" type="text" formControlName="adress2">
    <section>
        <div class="d1">
            <h3>country</h3>
            <input type="text" formControlName="country">
        </div>
        <div class="d1">
            <h3>city</h3>
            <input type="text" formControlName="city">
        </div>
        <div class="d1">
            <h3>zip</h3>
            <input type="text" formControlName="zip">
        </div>
    </section>
    <h2>Payment</h2>

    <div class="check">
        <input type="radio" value="Credit Card" name="creditCard" formControlName="creditCard">
        <p>Credit Card</p>

    </div>

    <div class="check">
        <input type="radio" value="Cash on delivery" name="creditCard" formControlName="creditCard">
        <p>Cash on delivery</p>

    </div>

    //

    <h4>Credit card number</h4>
    <input class="d2" type="text" formControlName="creditCard">
    <section>
        <div class="d1">
            <h3>Expiration</h3>
            <input type="text" formControlName="expiration">
        </div>
        <div class="d1">
            <h3>CVV</h3>
            <input type="text" formControlName="cvv">
        </div>
    </section>
    <div class="form-group">
        <button class="btn btn-danger btn-block btn-lg">pay me</button>
    </div>

</form> -->

<!-- hamza code above -->

<!-- 
<div class="receipt-content">
    <div class="container bootstrap snippet">
        <div class="row">
            <div class="col-md-12">
                <div class="invoice-wrapper">
                    <div class="intro">
                        Hi <strong>{{ username}}</strong>,
                        <br>
                        This is the receipt for a payment of <strong>${{this.variable.sum}}</strong> (USD) for your
                        works
                    </div>

                    <div class="payment-info">
                        <div class="row">
                            <div class="col-sm-6">
                                <span>Payment No.</span>
                                <strong>434334343</strong>
                            </div>
                            <div class="col-sm-6 text-right">
                                <span>Payment Date</span>
                                <strong>{{now}}</strong>
                            </div>
                        </div>
                    </div>

                    <div class="payment-details">
                        <div class="row">
                            <div class="col-sm-6">
                                <span>Client</span>
                                <strong>
                                    Andres felipe posada
                                </strong>
                                <p>
                                    989 5th Avenue <br>
                                    City of monterrey <br>
                                    55839 <br>
                                    USA <br>
                                    <a href="#">
                                        jonnydeff@gmail.com
                                    </a>
                                </p>
                            </div>
                            <div class="col-sm-6 text-right">
                                <span>Payment To</span>
                                <strong>
                                    Juan fernando arias
                                </strong>
                                <p>
                                    344 9th Avenue <br>
                                    San Francisco <br>
                                    99383 <br>
                                    USA <br>
                                    <a href="#">
                                        juanfer@gmail.com
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="line-items">
                        <div class="headers clearfix">
                            <div class="row">
                                <div class="col-xs-4">Description</div>
                                <div class="col-xs-3">Quantity</div>
                                <div class="col-xs-5 text-right">Amount</div>
                            </div>
                        </div>
                        <div class="items">
                            <div class="row item">
                                <div class="col-xs-4 desc">
                                    Html theme
                                </div>
                                <div class="col-xs-3 qty">
                                    3
                                </div>
                                <div class="col-xs-5 amount text-right">
                                    $60.00
                                </div>
                            </div>
                            <div class="row item">
                                <div class="col-xs-4 desc">
                                    Bootstrap snippet
                                </div>
                                <div class="col-xs-3 qty">
                                    1
                                </div>
                                <div class="col-xs-5 amount text-right">
                                    $20.00
                                </div>
                            </div>
                            <div class="row item">
                                <div class="col-xs-4 desc">
                                    Snippets on bootdey
                                </div>
                                <div class="col-xs-3 qty">
                                    2
                                </div>
                                <div class="col-xs-5 amount text-right">
                                    $18.00
                                </div>
                            </div>
                        </div>
                        <div class="total text-right">
                            <p class="extra-notes">
                                <strong>Extra Notes</strong>
                                Please send all items at the same time to shipping address by next week.
                                Thanks a lot.
                            </p>
                            <div class="field">
                                Subtotal <span>$379.00</span>
                            </div>
                            <div class="field">
                                Shipping <span>$0.00</span>
                            </div>
                            <div class="field">
                                Discount <span>4.5%</span>
                            </div>
                            <div class="field grand-total">
                                Total <span>$312.00</span>
                            </div>
                        </div>

                        <div class="print">
                            <a href="#">
                                <i class="fa fa-print"></i>
                                Print this receipt
                            </a>
                        </div>
                    </div>
                </div>

                <div class="footer">
                    Copyright © 2014. company name
                </div>
            </div>
        </div>
    </div>
</div> -->

<!--Main layout-->
<main class="mt-3 pt-0">
  <div class="container wow fadeIn">
    <!-- Heading -->
    <h2 class="my-5 h2 text-center">Checkout form</h2>

    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-md-8 mb-4">
        <!--Card-->
        <div class="card">
          <!--Card content-->
          <form class="card-body" [formGroup]="form" (ngSubmit)="submitForm()">
            <!--Phone number-->
            <div class="md-form mb-5">
              <label for="address" class="">Phone number</label>
              <input
                type="number"
                id="Phone"
                formControlName="phone"
                class="form-control"
                placeholder="00-218"
              />
            </div>

            <!--address-->
            <div class="md-form mb-5">
              <label for="address" class="">Address</label>
              <input
                type="text"
                id="address"
                formControlName="address"
                class="form-control"
                placeholder="Address 1"
              />
            </div>

            <!--address-2-->
            <div class="md-form mb-5">
              <label for="address-2" class="">Address 2 (optional)</label>
              <input
                type="text"
                id="address-2"
                class="form-control"
                formControlName="address2"
                placeholder="Address 2 (optional)"
              />
            </div>

            <!--Grid row-->
            <div class="row">
              <!--Grid column-->
              <div class="col-lg-4 col-md-12 mb-4">
                <label for="country">Country</label>
                <select
                  class="custom-select d-block w-100"
                  id="country"
                  formControlName="country"
                  (change)="setCountryName($event.target.value)"
                  required
                >
                  <!-- <option value="">Choose...</option> -->
                  <option>
                    Choose...
                  </option>
                  <option #opt *ngFor="let country of countries; let i = index">
                    {{ country.country }}
                  </option>
                  <!-- <option></option> -->
                </select>

                <div class="invalid-feedback">
                  Please select a valid country.
                </div>
              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-lg-4 col-md-6 mb-4">
                <label for="state">State</label>
                <select
                  class="custom-select d-block w-100"
                  id="state"
                  formControlName="city"
                  required
                >
                  <option *ngFor="let city of cities; let i = index">{{
                    city
                  }}</option>
                </select>
                <div class="invalid-feedback">
                  Please provide a valid state.
                </div>
              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-lg-4 col-md-6 mb-4">
                <label for="zip">Zip</label>
                <input
                  type="number"
                  class="form-control"
                  id="zip"
                  name="paymentMethod"
                  placeholder="11-12"
                  formControlName="zip"
                  required
                />
                <div class="invalid-feedback">
                  Zip code required.
                </div>
              </div>
              <!--Grid column-->
            </div>
            <!--Grid row-->

            <hr />

            <div class="d-block my-3">
              <div class="custom-control custom-radio">
                <input
                  id="credit"
                  type="radio"
                  class="custom-control-input"
                  formControlName="paymentMethod"
                  value="credit"
                  checked
                  required
                />
                <label class="custom-control-label" for="credit"
                  >Credit card</label
                >
              </div>
              <div class="custom-control custom-radio">
                <input
                  id="debit"
                  formControlName="paymentMethod"
                  type="radio"
                  class="custom-control-input"
                  value="debit"
                  required
                />
                <label class="custom-control-label" for="debit"
                  >Debit card</label
                >
              </div>
              <div class="custom-control custom-radio">
                <input
                  id="paypal"
                  type="radio"
                  formControlName="paymentMethod"
                  class="custom-control-input"
                  value="paypal"
                  required
                />
                <label class="custom-control-label" for="paypal">Paypal</label>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="cc-number">Credit card number</label>
                <input
                  type="text"
                  class="form-control"
                  id="cc-number"
                  placeholder=""
                  formControlName="card_number"
                  required
                />
                <div class="invalid-feedback">
                  Credit card number is required
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 mb-3">
                <label for="cc-expiration">Expiration</label>
                <input
                  type="text"
                  class="form-control"
                  id="cc-expiration"
                  placeholder=""
                  formControlName="expiration"
                  required
                />
                <div class="invalid-feedback">
                  Expiration date required
                </div>
              </div>
              <div class="col-md-3 mb-3">
                <label for="cc-expiration">CVV</label>
                <input
                  type="text"
                  class="form-control"
                  id="cc-cvv"
                  placeholder=""
                  formControlName="cvv"
                  required
                />
                <div class="invalid-feedback">
                  Security code required
                </div>
              </div>
            </div>
            <hr class="mb-4" />
            <button class="btn btn-primary btn-lg btn-block" type="submit">
              Continue to checkout
            </button>
          </form>
        </div>
        <!--/.Card-->
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-4 mb-4">
        <!-- Heading -->
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-muted">Your cart</span>
          <span class="badge badge-secondary badge-pill">3</span>
        </h4>

        <!-- Cart -->
        <ul class="list-group mb-3 z-depth-1">
          <li
            class="list-group-item d-flex justify-content-between lh-condensed"
          >
            <div>
              <h6 class="my-0">Product name</h6>
              <small class="text-muted">Brief description</small>
            </div>
            <span class="text-muted">$12</span>
          </li>
          <li
            class="list-group-item d-flex justify-content-between lh-condensed"
          >
            <div>
              <h6 class="my-0">Second product</h6>
              <small class="text-muted">Brief description</small>
            </div>
            <span class="text-muted">$8</span>
          </li>
          <li
            class="list-group-item d-flex justify-content-between lh-condensed"
          >
            <div>
              <h6 class="my-0">Third item</h6>
              <small class="text-muted">Brief description</small>
            </div>
            <span class="text-muted">$5</span>
          </li>
          <li class="list-group-item d-flex justify-content-between bg-light">
            <div class="text-success">
              <h6 class="my-0">Promo code</h6>
              <small>EXAMPLECODE</small>
            </div>
            <span class="text-success">-$5</span>
          </li>
          <li class="list-group-item d-flex justify-content-between">
            <span>Total (USD)</span>
            <strong>$20</strong>
          </li>
        </ul>
        <!-- Cart -->

        <!-- Promo code -->
        <form class="card p-2">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              placeholder="Promo code"
              aria-label="Recipient's username"
              aria-describedby="basic-addon2"
            />
            <div class="input-group-append">
              <button
                class="btn btn-secondary btn-md waves-effect m-0"
                type="button"
              >
                Redeem
              </button>
            </div>
          </div>
        </form>
        <!-- Promo code -->
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
</main>
<!--Main layout-->
