<div class="card container">
  <h3
    class="card-header light-blue lighten-1 white-text text-uppercase font-weight-bold text-center py-5"
  >
    Active Users
  </h3>
  <div class="card-body">
    <ul class="list-group" *ngFor="let item of userLogs">
      <li
        class="list-group-item d-flex justify-content-between align-items-center"
      >
        {{ item.username }}
        <span class="badge badge-primary badge-pill">{{
          item.orders.length
        }}</span>
      </li>
    </ul>
    <!-- <p class="text-small text-muted mb-0 pt-3">
      * At vero eos et accusamus et iusto ducimus.
    </p> -->
  </div>
</div>
<!--/.Panel-->
