<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


<p>cart works!</p>


<div>
    <table class="table table-striped ">
        <thead class="thead-dark">
            <tr>
                <td></td>
                <td >Product</td>
                <td >Tag</td>
                <td >Color</td>
                <td >Price</td>
                <td >QTY</td>
                <td >Size</td>
                <td >Total</td>
                <td >Delete</td>
                </tr>
        </thead>
           <tbody>
            <tr>
                <th><img src="https://i.pinimg.com/originals/b0/20/d8/b020d854452ba13d2cf4ec225b7d3e21.jpg" alt="" class="img-thumbnail rounded float-left " ></th>
                <th>1</th>
                <th>2</th>
                <th>3</th>
                <th>4</th>
                <th>5</th>
                <th>6</th>
                <th>7</th>
                <th><button type="button" class="btn btn-danger" >X</button></th>
    
            </tr>
            
        </tbody>			
    </table>
    <button routerLink="/store/men" type="button" class="btn btn-primary float-right" >PROCEED TO CECHOUT </button>
</div>
