<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
  crossorigin="anonymous"
/>
<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"
></script>

<!-- <div class="row">
    <div class="col m-3 shadow">
        <table class="table table-striped ">
            <thead >
                <tr>
                    <td></td>
                    <td >Product</td>
                    <td >Tag</td>
                    <td >Color</td>
                    <td >Price</td>
                    <td >QTY</td>
                    <td >Size</td>
                    <td >Total</td>
                    <td >Delete</td>
                    </tr>
            </thead>
               <tbody>
                <tr>
                    <th><img src={{men[2].image}} alt="" class="img-thumbnail rounded float-left " style="width: 200px;height: 200px;" ></th>
                    <th>1</th>
                    <th>{{men[2].tag}}</th>
                    <th>{{men[2].color}}</th>
                    <th>{{men[2].price}}</th>
                    <th>00000</th>
                    <th>{{men[2].size}}</th>
                    <th>00000</th>
                    <th><button type="button" class="btn btn-danger  btn-sm"  >X</button></th>
        
                </tr>
                
            </tbody>			
        </table>
        <button routerLink="/store/men" type="button" class="btn btn-primary float-right" >PROCEED TO CECHOUT </button>
    </div>

</div>
 -->
<div id="hello">sadfasdfadsf</div>
