
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

$primary:#0082f3;

body {
    margin: 0;
    font-family: 'Nunito', 'sans-serif';
    font-size: 18px;
}

.container {
    width: 100%;
}

header {
    background: $primary;
    padding: 1em 0;

    a {
        color: white;
        text-decoration: none;
    }
    a.logo {
        font-weight: bold;
        font-family: 'Nunito', 'sans-serif';
    }

}


