<div class="container-fluid m-3">
  <div class="row ">
    <div class="col h-100 ml-3 float-right">
      <img  src="{{ product.image }}" />
    </div>
    <div class="col mr-3 float-left">
      <div class="card float-left shadow w-75 h-100 mr-3 ">

        <div class="card-body ">
          <div class="" style="text-align: center;">
            <span class="mb-2 "
              ><strong>category : {{ product.category }}</strong></span
            ><br />
            <span class="mb-2 "
              ><strong>title : {{ product.title }} </strong></span
            ><br />
            <span class="mb-2 "
              ><strong>description : {{ product.description }} </strong></span
            >
          </div>
          <div class=" mt-3 bg-light text-dark">
            <span class="mb-2 "
              ><strong class="p-3"
                >Brand : <span class="text-secondary">{{ product.brand }}</span>
              </strong></span
            ><br />
            <span class="mb-2 "
              ><strong class="p-3"
                >Price :
                <span class="text-secondary">{{ product.price }}$</span></strong
              ></span
            ><br />
            <span class="mb-2 "
              ><strong class="p-3"
                >Sizes : <span class="text-secondary">[{{ product.size }}]</span>
              </strong></span
            ><br />
            <span class="mb-2 "
              ><strong class="p-3"
                >Color : <span class="text-secondary">{{ product.color }}</span>
              </strong></span
            ><br />
            <span class="mb-2 "><strong class="p-3">Rating :
                <span class="text-secondary">{{ product.rating }}</span></strong></span>
          </div>
          <div class="row">
            <div class="col">
              <div class="mt-3" style="text-align: center;">
                <span>Choose your size </span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <input type="radio" name="size" value="M" checked /> M<br />
              <input type="radio" name="size" value="L" /> L
            </div>
          </div>
        </div>
        <div class="row mb-3 mr-3">
          <div class="col">
            <button type="button" class="btn btn-primary float-right mt-3" (click)="addToCart()">
              Add To Cart
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
