<div class="container">
    <form [formGroup]="form" (ngSubmit)="submitForm()">
        <!-- <label for="name">Name</label> -->
        <input class="form-control" placeholder="Name" formControlName="name">
        <input class="form-control" placeholder="Email" formControlName="email">

        <input class="form-control" placeholder="password" formControlName="password" type="text">
        <input class="form-control" placeholder="confirmed password" formControlName="confirmedPassword" type="text">




        <div class="form-group">
            <button class="btn btn-danger btn-block btn-lg">Sign Up</button>
        </div>

        
<!-- 
        <label for="email">Email</label>
        <input type="text" name="email" id="email">

        <label for="password">password</label>
        <input type="password" name="password" id="password">

        <label for="password">Confirme password</label>
        <input type="password" name="confirme-password" id="confirme-password">

        <button type="submit">Submite</button> -->
    </form>


</div>




